<%- include('template/header'); -%>
<div class="container">

    <h3>What is HackYourFuture?</h3>
    <p>
        HackYourFuture is a code school (foundation) teaching computer programming to refugees. Our aim is to
        empower our students through coding and get them to work as software developers. With 40 developers (all
        volunteers) we have created a 6-month program in which our students learn the fundamentals of
        web-development. After graduation we guide our students towards employment via our network. Besides learning
        our students how to code, we also teach them how to work on projects in a modern tech team.
    </p>
    <p>
        We teach every Sunday in Amsterdam, during the week we coach and support our students online with their
        homework. Throughout our course our students have multiple business visits, masterclasses from various tech
        experts, and get individual coaching in their career.
    </p>
    <h3>Why HackYourFuture?</h3>
    <p>
        Within the current group of refugees there is a lot of talent. However, the past teaches us that talented
        newcomers have trouble finding work in their new countries of residence. At the same time we see a very
        large demand on the job market for web-developers. A lot of companies struggle to grow because of the lack
        of qualified developers. Here we see an enormous opportunity for a win-win situation. By training refugees
        in web-development we increase their chances of employment significantly, and at the same time we increase
        the amount of developers on the job market.
    </p>
    <h3>What do we teach?</h3>
    <p>
        The core language we teach is JavaScript, and we teach our students HTML, CSS, Node, Angular, Express and
        Databasing in MySQL/MongoDB. However what we value most is that our students learn how to think like a
        programmer, how to solve problems, and how to manage a project. With this fundamental knowledge our students
        should be ready for their first web-developer job.
    </p>
    <h3>For who?</h3>
    <p>
        We teach to talented refugees who want to start their career in web-development. We’re looking for people
        who are very motivated and are willing to put in a lot of hours in order to become great at coding. You will
        need to have an intermediate level in English and you will need to study for around 25 hours per week. We
        accept people living all over the Netherlands, and we pay for transportation costs (train tickets).
    </p>

</div><!--/.container -->
<%- include('template/footer'); -%>
