<%- include('template/header'); -%>
<div class="container">

    <div class="row pt-2">
        <!-- /.col-lg-6 -->
        <div class="col-lg-12">
            <p class="alert alert-success">done successfully</p>
            <p>your link: <br><a class="" href="{{longUrl}}">{{longUrl}}</a></p>
            <p>short link <br><a class="" href="{{shortUrl}}">{{shortUrl}}</a></p>
            <br>
            <p>
                <a class="btn btn-primary" href="./shortener">go back</a>
            </p>
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div><!--/.container -->
<%- include('template/footer'); -%>
