<%- include('template/header'); -%>
<div class="container">



   <h1> <i class="fa fa-phone-square" aria-hidden="true"></i> Contact us</h1>
      <p>Stichting Hack Your Future</p>
      <p>KvK: 64992160</p>
      <p>Address: Herengracht, 504 1017 CB Amsterdam</p>
      <p>Contact: <a href="info@hackyourfuture.net">info@hackyourfuture.net</a></p>
      <p>Copyright © HackYourFuture 2017</p>



</div><!--/.container -->
<%- include('template/footer'); -%>
