<%- include('template/header'); -%>
<div class="container">
    <h3>WHAT DO WE DO ?</h3>
    <p>We train refugees to become software-developers</p>
    <p>In our 6-month program we train talented refugees with and without a coding background in modern
        JavaScript software development. Our aim is to have our students land their first software
        development job after finishing our course, and we do everything we can to prepare them as well as
        possible. With our team of over 35 experienced senior developers we have created a program around
        the special needs of refugees. Our teachers are all volunteers, and we are all extremely passionate
        about coding. We believe talented refugees are a great opportunity for the software development
        world, we are here to give them a helping hand.
    </p>
    <br>
    <a class="btn btn-danger btn-lg" href="about">
        <i class="fa fa-link" aria-hidden="true"></i> Go to shortener...</a>

</div><!--/.container -->
<%- include('template/footer'); -%>
